# Archivos y carpetas generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos y carpetas de IDEs comunes
.idea/
*.iml
.vscode/

# Carpetas de compilación y salida
/target/
/out/

# Archivos y carpetas de logs
*.log
logs/

# Archivos de dependencias locales
/.mvn/
/mvnw
/mvnw.cmd

# Archivos temporales y caches
*.tmp
*.bak
*.swp

# Archivos de configuración sensible
*.properties
*.yml
application.properties
application.yml

# Otros archivos para ignorar
*.class
